{% extends 'base.html' %}
{% block content %}

    <style type="text/css">
        .big-textarea {
            height: 500px !important;
        }
    </style>

    <div class="container">
        <form class="form-group" method="POST">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.title.label(class_='form-control-label')}}
                {{form.title(class_='form-control form-control-lg')}}
            </div>
            <div class="form-group">
                {{form.text.label(class_='form-control-label')}}
                {{form.text(class_='form-control form-control-lg big-textarea')}}
            </div>
            <div class="form-group">
                {{form.submit(class_='btn btn-outline-info')}}
            </div>
        </form>
    </div>
{% endblock %}